# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**
- List popular languages for Data Science
- Key open-source tools for Data Science
- Describe how to use the notebooks in JupyterLab

# Some of the popular languages that Data Scientists use are:
1.Python 
2.R 
3.SQL

# Some of the commonly libraries used by Data Scientists are:
1.Numpy 
2.Pandas 
3.Matplotlib

## Data Science tools
| Data Science Tools |
| --- |
| Kibana |
| Jupyter IDE |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min_hours = (200 / 60)
print(min_hours)

3.3333333333333335

## Autor
Fabian Leon